
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<form id="ajax_form"  action="">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Calculate">
</form>
<p id="result"></p>

<script>
$("#ajax_form").on("submit", function(evt) {
  evt.preventDefault();
  console.log("sent Ajax_call");
  let operator = $("input:radio[name='operator']:checked").val();
  let operand = $("[name='operand']")
    .first()
    .val();

  $.get(`/ajax/calculate?operator=${operator}&operand=${operand}`, function(
    data
  ) {
    if (data.success) {
      console.log(`The result is ${data.result}`);
      $("#ajax_form").fadeOut();
      $("#result").text(`The result is ${data.result}`);
    } else {
      alert(data.error);
    }
  });
});
</script>
